Flask==3.0.3
flask-cors==4.0.0
PyYAML==6.0.1
pyspellchecker==0.8.1
gunicorn==22.0.0
rapidfuzz==3.9.3
pytz==2024.1
scikit-learn==1.5.0
nltk==3.8.1
pydub==0.25.1
vosk==0.3.45
TTS==0.21.1
torch>=2.1.0,<2.8.0
torchaudio>=2.1.0,<2.8.0
soundfile==0.12.1
librosa==0.10.2
numpy==1.22.0
scipy>=1.9.0,<1.14.0
Cython>=0.29.30,<3.2.0
setuptools>=65.0.0
wheel>=0.38.0
